/* Import fonts from @fontsource */
@import "@fontsource/montserrat/index.css";
@import "@fontsource/playfair-display/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
  color: #171717;
}

main {
  background: #f8f9fa;
}